.contact-container{
    width: 80%;
    background-color: #ffa352;
    border: black 3px solid;
    box-shadow: 3px 3px 0 0 #031926;
    margin: 0 auto; /* add this line to center it horizontally */
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    background-image: url("../assets/bakgrund-kontakt.png");
    background-size: cover;
}

.contact-me {
    margin: 80px auto;
    padding-top: 40px;
    max-width: 1000px;
    text-align: center;
    align-items: center;
    height: 300px;
    
    
  }
  
  .contact-me h2 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'ClashDisplay-Bold';
  }
  
  .contact-me p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Satoshi-Medium';
    margin-bottom:60px;
  }
  
  .btn{
    padding: 20px 20px;
    background-color: rgb(27, 27, 27);
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Satoshi-Bold';
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    border: black 3px solid;
    box-shadow: 3px 3px 0 0 #031926;
    transition: box-shadow 0.2s ease-in-out;  
  }

  .btn:hover {
    background-color: gray;
    box-shadow: 0px 0px 0 0 #031926;
  }


  @media only screen and (max-width: 480px) {
     .contact-me h2{
        font-size: 25px;
        
    }
    .contact-me p{
        font-size: 15px;
        margin: 35px 20px;
        
    }
  }