.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav {
    background-color: rgb(80, 65, 65);
    padding: 2rem;
    margin: 0 -60px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-family: 'Satoshi-Bold';
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 30px;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }

  .logo-container {
    display: inline-block;
    margin-right: 20px;
  }
  
  .logo {
    height: 40px; /* Adjust the size according to your preference */
    width: 40px;
  }